---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

import { getDatos } from "../components/Data.astro";
let data = await getDatos();
---

<Layout title={"CV de " + data?.nombre}>
    <main>
      <Header />
      <div class="content">
          <button id="bandera" aria-label="Ver CV en Español">
            <img width="80px" height="50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbKRhocMPmq5vyP21KJ8lLRyoMCMbqY9n4IQ&s" alt="ES">
          </button>
        <embed id="pdf" src="/cv_es.pdf" type="application/pdf" />
      </div>
      <Footer />
    </main>

    <script>
      const button = document.getElementById('bandera');
    
      button?.addEventListener('click', async function() {
        const pdf = document.getElementById('pdf');
        
        if (pdf?.getAttribute('src') === '/cv_es.pdf') {
          pdf.setAttribute('src', '/cv_eng.pdf');
        } else {
          pdf?.setAttribute('src', '/cv_es.pdf');
        }
      });
    </script>
      
  <style>
    embed {
        width: 100%;
        height: 100vh;
    }

    body {
      background-color: #f9f9f9;
    }

    main {
      width: 98%;
      margin: auto;
      padding: 1%;
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      margin: 10px;
      transition: transform 0.3s;
    }

    button:hover {
    transform: scale(1.1);
    }

    .content {
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 2px;
      margin: 1%;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      font-size: 2em;
      color: #333;
      margin-bottom: 2%;
    }

    h2 {
      font-size: 1.5em;
      color: #666;
      margin-bottom: 1%;
      text-align: center;
    }

    p {
      margin-bottom: 1%;
    }
  </style>
</Layout>