---
import Footer from "../components/Footer.astro"; // Importa el componente Footer
import Header from "../components/Header.astro"; // Importa el componente Header
import Layout from "../layouts/Layout.astro"; // Importa el layout principal

import { getDatos } from "../db"; // Importa la función para obtener datos
let data = await getDatos(); // Llama a la función para obtener los datos de manera asíncrona
---

<Layout title={"CV de " + data?.nombre}>
  <!-- Establece el título del layout usando el nombre obtenido -->
  <main>
    <Header />
    <!-- Renderiza el encabezado -->
    <div class="content">
      <!-- Contenedor principal para el contenido -->
      <button id="bandera" aria-label="Ver CV en Español">
        <!-- Botón para cambiar el CV a español -->
        <img
          width="80px"
          height="50px"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbKRhocMPmq5vyP21KJ8lLRyoMCMbqY9n4IQ&s"
          alt="ES"
        />
        <!-- Imagen de la bandera -->
      </button>
      <embed id="pdf" src="/cv_es.pdf" type="application/pdf" />
      <!-- Inserta el PDF del CV en español -->
    </div>
    <Footer />
    <!-- Renderiza el pie de página -->
  </main>

  <script>
    const button = document.getElementById("bandera"); // Obtiene el botón por su ID

    button?.addEventListener("click", async function () {
      // Agrega un evento al botón para cambiar el CV
      const pdf = document.getElementById("pdf"); // Obtiene el elemento embed por su ID

      // Comprueba si el PDF actual es el de español
      if (pdf?.getAttribute("src") === "/cv_es.pdf") {
        pdf.setAttribute("src", "/cv_eng.pdf"); // Cambia al PDF en inglés
      } else {
        pdf?.setAttribute("src", "/cv_es.pdf"); // Regresa al PDF en español
      }
    });
  </script>

  <style>
    /* Define el estilo para los elementos embed */
    embed {
      width: 100%; /* El ancho del elemento embed ocupará el 100% del contenedor */
      height: 100vh; /* La altura del elemento embed será igual a la altura de la ventana del navegador */
    }

    /* Estilo para el cuerpo del documento */
    body {
      background-color: #f9f9f9; /* Establece un color de fondo claro para el cuerpo */
    }

    /* Estilo para el contenedor principal */
    main {
      width: 100%; /* Ancho del contenedor principal */
      text-decoration: none; /* Elimina subrayado en el texto */
    }

    /* Estilo para los botones */
    button {
      background: none; /* Sin fondo para los botones */
      border: none; /* Sin borde para los botones */
      cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
      margin: 10px; /* Añade un margen de 10px alrededor del botón */
      transition: transform 0.3s; /* Agrega una transición suave al transformarse */
    }

    /* Efecto al pasar el cursor sobre el botón */
    button:hover {
      transform: scale(
        1.1
      ); /* Aumenta el tamaño del botón en un 10% al pasar el cursor */
    }

    /* Estilo para el contenido */
    .content {
      background-color: #ffffff; /* Color de fondo blanco para el contenido */
      border: 1px solid #ccc; /* Borde gris claro alrededor del contenido */
      border-radius: 5px; /* Bordes redondeados con un radio de 5px */
      padding: 2px; /* Añade un relleno de 2px dentro del contenido */
      margin: 1%; /* Añade un margen de 1% alrededor del contenido */
      text-align: center; /* Centra el texto dentro del contenido */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del contenido */
    }

    /* Estilo para el encabezado h1 */
    h1 {
      text-align: center; /* Centra el texto del encabezado h1 */
      font-size: 2em; /* Tamaño de fuente de 2em para el h1 */
      color: #333; /* Color del texto en un tono oscuro */
      margin-bottom: 2%; /* Margen inferior de 2% para separar de otros elementos */
    }

    /* Estilo para el encabezado h2 */
    h2 {
      font-size: 1.5em; /* Tamaño de fuente de 1.5em para el h2 */
      color: #666; /* Color del texto en un tono gris */
      margin-bottom: 1%; /* Margen inferior de 1% para separar de otros elementos */
      text-align: center; /* Centra el texto del encabezado h2 */
    }

    /* Estilo para los párrafos */
    p {
      margin-bottom: 1%; /* Margen inferior de 1% para separar de otros elementos */
    }
  </style>
</Layout>