---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import SkillCard from "../components/SkillCard.astro";

import { getDatos, getHabilidades } from "../components/Data.astro";
let data = await getDatos();
let habilidades = await getHabilidades();
---

<Layout title={"Habilidades de " + data?.nombre}>
  <main>
    <Header />
    <h1>Mis Habilidades:</h1>
    <div class="hability-cards">
      {
        habilidades?.map((habilidad) => (
        <a href={habilidad.url}>
          <SkillCard skill={habilidad} />
        </a>
      ))
      }
      </div>
    <Footer />
  </main>

  <style>
    body {
      background-color: #f9f9f9;
    }

    main {
      width: 99%;
      margin: auto;
      padding: 1%;
      text-decoration: none;
    }

    h1 {
      text-align: center;
      font-size: 2em;
      color: #333;
    }

    a
    {
      text-decoration: none;
    }

    .hability-cards
    {
      text-align: center;
    }

    @media (max-width: 768px) {
      .hability-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
  </style>
</Layout>