---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { data, skills } from "../components/Data.astro";
import SkillCard from "../components/SkillCard.astro";
---

<Layout title={"Habilidades de " + data.nombre}>
  <main>
    <Header />
    <h1>Mis Habilidades:</h1>
      {
        skills.map((skill) => (
          <a href={skill.url} target="_blank">
            <SkillCard skill={skill} />
          </a>
        ))
      }
    <Footer />
  </main>

  <style>
    body {
      background-color: #f9f9f9;
    }

    main {
      width: 99%;
      margin: auto;
      padding: 1%;
      text-decoration: none;
    }

    h1 {
      text-align: center;
      font-size: 2em;
      color: #333;
    }

    a
    {
      text-decoration: none;
    }
  </style>
</Layout>