---
import Footer from "../components/Footer.astro"; // Importa el componente Footer
import Header from "../components/Header.astro"; // Importa el componente Header
import ProjectCard from "../components/ProjectCard.astro"; // Importa el componente ProjectCard
import Layout from "../layouts/Layout.astro"; // Importa el diseño general del Layout
import { getDatos, getProjects } from "../db"; // Importa las funciones para obtener datos

let data = await getDatos(); // Espera a que se obtengan los datos del usuario
let projects = await getProjects(); // Espera a que se obtengan los proyectos
---

<Layout title={"Portafolio de " + data?.nombre}>
  <!-- Define el título del Layout utilizando el nombre del usuario -->
  <main>
    <Header />
    <!-- Muestra el encabezado del sitio -->

    <h1>Proyectos:</h1>
    <!-- Título de la sección de proyectos -->

    <div class="project-cards">
      <!-- Contenedor para las tarjetas de proyectos -->
      {
        projects?.map(
          (
            project // Mapea los proyectos obtenidos
          ) => (
            <a href={"/" + project.nombre}>
              <ProjectCard project={project} />
            </a>
          )
        )
      }
    </div>

    <Footer />
    <!-- Muestra el pie de página -->
  </main>

  <style>
    body {
      background-color: #f9f9f9; /* Color de fondo para el cuerpo */
    }

    main {
      width: 99%; /* Ancho del contenedor principal */
      margin: auto; /* Centra el contenedor */
      padding: 1%; /* Espaciado interno */
      text-decoration: none; /* Elimina subrayado en el texto */
    }

    h1 {
      text-align: center; /* Centra el texto del título */
      font-size: 2em; /* Tamaño de fuente para el título */
      color: #333; /* Color del texto */
    }

    a {
      text-decoration: none; /* Elimina subrayado en los enlaces */
    }

    .project-cards {
      text-align: center; /* Centra el texto dentro del contenedor de tarjetas */
    }

    @media (max-width: 768px) {
      /* Estilos para pantallas pequeñas */
      .project-cards {
        display: flex; /* Usa flexbox para el diseño */
        flex-wrap: wrap; /* Permite que las tarjetas se ajusten a múltiples líneas */
        flex-direction: column; /* Organiza las tarjetas en columnas */
      }
    }
  </style>
</Layout>