---
import Footer from "../components/Footer.astro"; // Importa el componente Footer
import Header from "../components/Header.astro"; // Importa el componente Header
import ProjectCard from "../components/ProjectCard.astro"; // Importa el componente ProjectCard
import Layout from "../layouts/Layout.astro"; // Importa el diseño general del Layout
import { getDatos, getProjects } from "../db"; // Importa las funciones para obtener datos

let data = await getDatos(); // Espera a que se obtengan los datos del usuario
let projects = await getProjects(); // Espera a que se obtengan los proyectos
---

<Layout title={"Portafolio de " + data?.nombre}>
  <main>
    <Header />
    <h1>PROYECTOS</h1>

    <div class="project-cards">
      {
        projects?.map((project) => (
          <a href={"/" + project.nombre}>
            <ProjectCard project={project} />
          </a>
        ))
      }
    </div>

    <Footer />
  </main>

  <style>
    body {
      background-color: #f9f9f9; /* Color de fondo para el cuerpo */
    }

    main {
      width: 100%; /* Ancho del contenedor principal */
      text-decoration: none; /* Elimina subrayado en el texto */
    }

    h1 {
      text-align: center; /* Centra el texto del título */
      font-size: 2em; /* Tamaño de fuente para el título */
      color: #333; /* Color del texto */
    }

    a {
      text-decoration: none; /* Elimina subrayado en los enlaces */
    }

    .project-cards {
      display: flex; /* Usa flexbox para el diseño */
      flex-wrap: wrap; /* Permite que las tarjetas se ajusten a múltiples líneas */
      justify-content: space-around; /* Espaciado uniforme entre tarjetas */
      margin: 0 auto; /* Centra el contenedor */
      max-width: 1200px; /* Máximo ancho del contenedor */
    }

    @media (max-width: 768px) {
      .project-cards {
        flex-direction: column; /* Organiza las tarjetas en columnas en pantallas pequeñas */
        align-items: center; /* Centra los elementos en el contenedor */
      }
    }
  </style>
</Layout>