---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { data } from "../components/Data.astro";
import { projects } from "../components/Projects.astro";
---

<Layout title={"Portafolio de " + data.nombre}>
  <main>
    <Header />
    <h1>Portafolio: Proyectos realizados</h1>

    {
      projects.map((project) => (
        <a href="/#">
          <Card project={project} />
        </a>
      ))
    }

    <Footer />
  </main>

  <style>
    body {
      background-color: #f9f9f9;
    }

    main {
      width: 99%;
      margin: auto;
      padding: 1%;
      text-decoration: none;
    }

    h1 {
      text-align: center;
      font-size: 2em;
      color: #333;
    }

    a
    {
      text-decoration: none;
    }
  </style>
</Layout>