---
import { project1, project2, project3, project4 } from "./Projects.astro";

---

<div class="card">
	<img src={project2.img} alt={project2.nombre}>
	<div class="card-content">
	  <h2>{project2.nombre}</h2>
	  <p>{project2.desc}</p>
	</div>
  </div>
  
  <style>
	.card {
	  margin: 1%;
	  padding: 1%;
	  border: 1px solid #ccc;
	  border-radius: 10px;
	  overflow: hidden;
	  transition: transform 0.3s;
	  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	  background-color: #f0f0f0;
	  display: inline-block;
	  width: 20%; /* Ajustar el ancho según la cantidad de cards por fila */
	}
  
	.card:hover {
	  transform: translateY(-5px);
	  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}
  
	img {
	  width: 100%;
	  border-radius: 10px 10px 0 0;
	}
  
	.card-content {
	  padding: 2%;
	  text-align: center;
	}
  
	h2 {
	  color: #333;
	  font-size: 23px;
	}
  
	p {
	  color: #666;
	  font-size: 15px;
	}
  </style>  