---
import { data } from '../components/Data.astro';
---

<footer>
  <div class="info">
    <h3>Información general:</h3>
    <p>Derechos de autor &copy; 2024 {data.nombre}.<br>Todos los derechos reservados.</p>
    <p>Email: <a href={"mailto:"+data.email}>{data.email}</a></p>
    <p>Teléfono: <a href={"tel:"+data.telefono}>{data.telefono}</a></p>
  </div>

  <div class="links">
    <h3>Enlaces:</h3>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Currículum Vitae</a></li>
      <li><a href="contacto">Contacto</a></li>
      <li><a href="#">Portafolio</a></li>
      <li><a href="#">Habilidades</a></li>
    </ul>
  </div>

  <div class="social">
    <h3>Redes sociales:</h3>
    <a
      href="https://es.linkedin.com/in/dmytro-reva-922505198?original_referer=https%3A%2F%2Fwww.google.com%2F"
      target="_blanc"
    >
      <svg
        viewBox="-0.5 -0.5 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        id="Linkedin--Streamline-Unicons"
        height="30"
        width="30"
        ><desc>Linkedin Streamline Icon: https://streamlinehq.com</desc><path
          d="M13.725375 0.150125H1.2746250000000001C1.1346874999999998 0.148125 0.9956875 0.1738125 0.865625 0.2255625 0.735625 0.277375 0.6170625 0.35424999999999995 0.5166875 0.4518125 0.416375 0.5494375 0.33625000000000005 0.6658124999999999 0.2809375 0.7943749999999999c-0.055375 0.1285625 -0.08481249999999999 0.2668125 -0.08675000000000001 0.40675000000000006v12.597750000000001c0.0019375 0.1399375 0.031375 0.2781875 0.08675000000000001 0.40675000000000006s0.1354375 0.24493750000000003 0.23575 0.3425625c0.10037499999999999 0.097625 0.2189375 0.1745 0.3489375 0.22625 0.1300625 0.0518125 0.2690625 0.07743749999999999 0.409 0.0754375h12.45075c0.1399375 0.002 0.2789375 -0.023625 0.4089375 -0.0754375 0.130125 -0.05175 0.24862499999999998 -0.12862500000000002 0.349 -0.22625 0.1003125 -0.097625 0.1804375 -0.21406250000000002 0.23575 -0.3425625 0.055375 -0.1285625 0.08481249999999999 -0.2668125 0.08675000000000001 -0.40675000000000006V1.201125c-0.0019375 -0.1399375 -0.031375 -0.278125 -0.08675000000000001 -0.40675000000000006 -0.0553125 -0.1285625 -0.1354375 -0.24493750000000003 -0.23575 -0.3425625 -0.10037499999999999 -0.0975625 -0.21887500000000001 -0.1745 -0.349 -0.22625 -0.13 -0.05175 -0.269 -0.07743749999999999 -0.4089375 -0.0754375ZM4.6261875 12.453812500000002h-2.205V5.8389375h2.205v6.614875ZM3.5236875000000003 4.9128125c-0.3040625 0 -0.5956874999999999 -0.12075000000000001 -0.81075 -0.3358125 -0.21499999999999997 -0.21499999999999997 -0.3358125 -0.506625 -0.3358125 -0.81075 0 -0.3040625 0.1208125 -0.59575 0.3358125 -0.81075 0.21506250000000002 -0.21506250000000002 0.5066875 -0.3358125 0.81075 -0.3358125 0.1615 -0.0183125 0.325 -0.0023125000000000003 0.47987500000000005 0.0469375 0.15487499999999998 0.049249999999999995 0.2975625 0.1306875 0.41875 0.23893749999999997 0.12125 0.10825 0.2181875 0.240875 0.284625 0.3891875 0.066375 0.1483125 0.10075 0.309 0.10075 0.4715 0 0.1625 -0.034375 0.3231875 -0.10075 0.4715 -0.06643750000000001 0.1483125 -0.16337500000000002 0.2809375 -0.284625 0.3891875 -0.12118749999999999 0.10825 -0.263875 0.1896875 -0.41875 0.23893749999999997 -0.15487499999999998 0.049312499999999995 -0.31837499999999996 0.0653125 -0.47987500000000005 0.047ZM12.578750000000001 12.453812500000002h-2.2049374999999998v-3.55c0 -0.8893125000000001 -0.3160625 -1.4699375000000001 -1.1171875 -1.4699375000000001 -0.2479375 0.0018124999999999999 -0.489375 0.0795625 -0.69175 0.2228125s-0.356 0.34506250000000005 -0.44012500000000004 0.5783125c-0.0575625 0.17275 -0.0825 0.3546875 -0.0735 0.5365v3.675H5.8462499999999995V5.8315625h2.205v0.9334375c0.20025 -0.3475625 0.491625 -0.6339375 0.8425625000000001 -0.8281875 0.3510625 -0.19425 0.748375 -0.2890625 1.1492499999999999 -0.2743125 1.47 0 2.5356875 0.9481249999999999 2.5356875 2.9840625v3.80725Z"
          fill="#000000"
          stroke-width="1"></path></svg
      >
    </a>
    <a href="https://github.com/DmytroReva2001" target="_blanc">
      <svg
        viewBox="-0.5 -0.5 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        id="Github--Streamline-Unicons"
        height="30"
        width="30"
        ><desc>Github Streamline Icon: https://streamlinehq.com</desc><path
          d="M7.4999375 0.331375c-1.7452500000000002 0.0000625 -3.4335625 0.6211875 -4.7627500000000005 1.752125C1.4079375 3.2144375 0.5245 4.7815 0.24493750000000003 6.504250000000001c-0.2795625 1.7226875 0.063 3.4886875 0.966375 4.981999999999999 0.9033125 1.4931875 2.3085625000000003 2.6163125 3.9642500000000003 3.1683125 0.3675 0.06431250000000001 0.5053125 -0.1561875 0.5053125 -0.349125 0 -0.1745625 -0.0091875 -0.753375 -0.0091875 -1.3689375000000001 -1.8466874999999998 0.3399375 -2.3244375 -0.450125 -2.4714375 -0.8635625 -0.16312500000000002 -0.4020625 -0.4216875 -0.758375 -0.753375 -1.0381875 -0.25725000000000003 -0.1378125 -0.62475 -0.47775 -0.0091875 -0.4869375 0.2350625 0.025500000000000002 0.4604375 0.10731249999999999 0.6571875 0.2384375 0.1966875 0.131125 0.3589375 0.3078125 0.47287500000000005 0.5149374999999999 0.1005 0.1805625 0.2356875 0.3395625 0.39775 0.4678125 0.1620625 0.12825 0.347875 0.2233125 0.5467500000000001 0.2795625 0.198875 0.0563125 0.406875 0.072875 0.612125 0.048687499999999995s0.40375 -0.08862500000000001 0.584 -0.1896875c0.0318125 -0.3736875 0.19837500000000002 -0.7230625 0.468625 -0.9830625 -1.635375 -0.18375 -3.3442499999999997 -0.8176875 -3.3442499999999997 -3.6290625 -0.0103125 -0.7304375000000001 0.2591875 -1.4371875 0.753375 -1.97525 -0.22468749999999998 -0.6348750000000001 -0.1984375 -1.3316249999999998 0.0735 -1.94775 0 0 0.6155 -0.19293749999999998 2.02125 0.753375 1.2026249999999998 -0.33075 2.47225 -0.33075 3.6749375 0 1.4056875 -0.9555 2.02125 -0.753375 2.02125 -0.753375 0.2719375 0.616125 0.29825 1.312875 0.0735 1.94775 0.4955625 0.5371250000000001 0.7654375 1.2445625 0.753375 1.97525 0 2.8205625000000003 -1.7180624999999998 3.4453125 -3.3534375 3.6290625 0.175375 0.17775 0.3104375 0.39125 0.39606250000000004 0.6258125000000001 0.085625 0.2346875 0.11975 0.485 0.1000625 0.7339374999999999 0 0.983125 -0.0091875 1.773125 -0.0091875 2.0211875 0 0.19293749999999998 0.1378125 0.42262500000000003 0.5053125 0.349125 1.6527500000000002 -0.5564375 3.0539375 -1.6821875 3.9534374999999997 -3.1761875 0.8995625 -1.4940624999999998 1.2388124999999999 -3.2591875 0.9573125 -4.98025 -0.28150000000000003 -1.721 -1.1654375 -3.286 -2.494125 -4.4155625C10.93075 0.9529375 9.243875000000001 0.33231249999999996 7.4999375 0.331375Z"
          fill="#000000"
          stroke-width="1"></path></svg
      >
    </a>
  </div>

  <div class="astro">
    <h3>Creado con:</h3>
    <a href="https://astro.build/" target="_blanc">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="-0.5 -0.5 24 24"
        id="Astro--Streamline-Svg-Logos"
        height="80"
        width="80"
        ><desc>Astro Streamline Icon: https://streamlinehq.com</desc><path
          fill="#000"
          d="M3.9355395833333335 7.979322916666667c0.060542708333333334 0.07518125 0.091425 0.17659687500000001 0.153165625 0.37942812500000006l1.34895 4.431357291666666c-0.49874062500000005 -0.2587260416666667 -1.0409416666666667 -0.4453375 -1.61273125 -0.5460104166666667l-0.8783125 -2.9680781250000003c-0.014375 -0.04856354166666667 -0.05898541666666667 -0.081865625 -0.10963333333333333 -0.081865625 -0.050767708333333335 0 -0.09545 0.03349375 -0.10970520833333333 0.082225L1.859590729166667 12.242612500000002C1.2851321875 12.342830208333334 0.7404658333333334 12.529777083333334 0.23958333333333334 12.7894375l1.3555792708333334 -4.431692708333333c0.061937083333333344 -0.20249583333333332 0.09291041666666666 -0.30374375000000003 0.15346031250000003 -0.37878125 0.053448645833333336 -0.06622083333333333 0.122978125 -0.117659375 0.20195197916666666 -0.14940416666666667 0.089455625 -0.035961458333333335 0.19533229166666669 -0.035961458333333335 0.40709520833333335 -0.035961458333333335H3.3258958333333335c0.21203125 0 0.318046875 0 0.4075791666666667 0.036033333333333334 0.07903854166666667 0.031792708333333336 0.14861354166666665 0.08335104166666667 0.20206458333333335 0.14969166666666667Z"
          stroke-width="1"></path><path
          fill="#FF5D01"
          d="M4.09701875 13.000989583333334c-0.22238125 0.19015729166666667 -0.6662333333333333 0.31984375 -1.1775041666666666 0.31984375 -0.6275238541666667 0 -1.1534763541666668 -0.19535625 -1.2930432291666667 -0.45808333333333334 -0.049893229166666664 0.150578125 -0.06108177083333334 0.3229104166666667 -0.06108177083333334 0.43299895833333335 0 0 -0.032875625000000006 0.540571875 0.34310489583333337 0.9165500000000001 0 -0.1952125 0.15827114583333335 -0.35348125 0.35349562500000004 -0.35348125 0.3346140625 0 0.3342546875 0.2919322916666667 0.3339432291666667 0.5287843750000001 0 0.007091666666666667 -0.00002395833333333333 0.014159375 -0.00002395833333333333 0.02113125 0 0.35951875 0.219721875 0.6676947916666667 0.5321864583333333 0.797596875 -0.046670833333333335 -0.09600104166666668 -0.07283333333333333 -0.20378958333333336 -0.07283333333333333 -0.31771145833333336 0 -0.34286770833333335 0.20129791666666666 -0.4705416666666667 0.4352270833333334 -0.618915625 0.18615625000000002 -0.11804270833333334 0.3929645833333334 -0.24921458333333335 0.5354927083333334 -0.512325 0.07436666666666668 -0.13728125 0.11660520833333335 -0.2945197916666667 0.11660520833333335 -0.4616291666666667 0 -0.10275729166666667 -0.015980208333333332 -0.20180104166666668 -0.045568750000000005 -0.294759375Z"
          stroke-width="1"></path><path
          fill="#000"
          d="M8.534677083333333 12.720701041666668c0.5642427083333335 0 0.9874187500000001 -0.200746875 1.1610208333333334 -0.5425125000000001 0 0.16274895833333333 0.010805208333333333 0.33093645833333335 0.037950000000000005 0.46115000000000006h0.9277145833333333l-0.0026354166666666665 -0.011715625c-0.04116041666666667 -0.18689895833333334 -0.061980208333333335 -0.440234375 -0.062411458333333336 -0.7699489583333333l0 -0.8459447916666667c0 -0.7920864583333334 -0.46663645833333334 -1.1664354166666666 -1.5028104166666667 -1.1664354166666666 -0.90605625 0 -1.5136875 0.37434895833333337 -1.5842208333333334 0.9873947916666667h0.9657125000000001c0.03253541666666667 -0.26584166666666664 0.25496458333333333 -0.4123229166666667 0.6185083333333333 -0.4123229166666667 0.358009375 0 0.55875625 0.14648125 0.55875625 0.45032083333333334v0.0813625l-0.9819322916666666 0.08680104166666668c-0.47267395833333337 0.04834791666666667 -0.7432833333333333 0.128584375 -0.9328895833333334 0.256521875l-0.0057260416666666675 0.003905208333333333c-0.20072291666666667 0.13562812500000002 -0.30381562500000003 0.34178958333333337 -0.30381562500000003 0.596778125 0 0.5099770833333334 0.42317604166666667 0.8246458333333334 1.1067791666666666 0.8246458333333334Zm0.35808125 -0.5642427083333335c-0.3147166666666667 0 -0.5045625 -0.12475104166666669 -0.5045625 -0.32549791666666666 0 -0.20616145833333335 0.15728645833333332 -0.31466875 0.5534135416666667 -0.36349583333333335l0.7269197916666666 -0.07594791666666667v0.16274895833333333c0 0.36349583333333335 -0.31462083333333335 0.6021927083333334 -0.7757708333333334 0.6021927083333334Zm3.725329166666667 0.5642427083333335c0.9440541666666666 0 1.4268864583333334 -0.35264270833333333 1.4268864583333334 -0.9223000000000001 0 -0.472003125 -0.2712802083333334 -0.7324302083333334 -0.9276906250000001 -0.8192312500000001l-0.819303125 -0.09221562500000001c-0.23323437500000002 -0.032559375 -0.3309125 -0.09223958333333333 -0.3309125 -0.222453125 0 -0.15731041666666667 0.15731041666666667 -0.22786770833333334 0.5153916666666666 -0.22786770833333334 0.49370937500000006 0 0.8354989583333333 0.11394583333333334 1.1122416666666668 0.33639895833333333l0.4393958333333334 -0.4394677083333334c-0.30383958333333333 -0.31466875 -0.8300125 -0.4882708333333333 -1.48105625 -0.4882708333333333 -0.9168854166666667 0 -1.4268864583333334 0.32549791666666666 -1.4268864583333334 0.8734729166666667 0 0.47741770833333336 0.31464479166666665 0.743259375 0.9656645833333333 0.8300604166666666l0.7378927083333333 0.08680104166666668c0.2929625 0.037997916666666666 0.37976354166666665 0.09223958333333333 0.37976354166666665 0.23330625000000002 0 0.16277291666666668 -0.162796875 0.24957395833333337 -0.5425604166666668 0.24957395833333337 -0.56421875 0 -0.9439583333333333 -0.15191979166666666 -1.1989708333333335 -0.4340291666666667l-0.49910000000000004 0.4123229166666667c0.3309125 0.4123229166666667 0.89513125 0.6238989583333333 1.6492437500000001 0.6238989583333333Zm2.192858333333333 -2.180975V11.684479166666668c0 0.6727260416666667 0.37976354166666665 1.0145395833333335 1.1935802083333336 1.0145395833333335 0.2495979166666667 0 0.4448822916666667 -0.027144791666666668 0.6293375 -0.08138645833333334V11.912322916666666l-0.015596875000000001 0.0034260416666666666c-0.09473125 0.020508333333333333 -0.20970729166666666 0.039986458333333336 -0.35875208333333336 0.039986458333333336 -0.34178958333333337 0 -0.5099770833333334 -0.15189583333333334 -0.5099770833333334 -0.472003125v-0.94400625h0.889740625V9.92665625h-0.889740625v-0.9928093750000001l-0.9385916666666667 0.3472041666666667v0.6456052083333333h-0.6076552083333334v0.6130697916666666h0.6076552083333334Zm3.1758208333333333 -0.6130697916666666h-0.85718125v2.712682291666667h0.9385677083333334v-1.0145395833333335c0 -0.29298645833333337 0.06511875 -0.558828125 0.2442072916666667 -0.727015625 0.14101875 -0.13021354166666665 0.34178958333333337 -0.20072291666666667 0.6238510416666667 -0.20072291666666667 0.10309270833333334 0 0.18447916666666667 0.010853125 0.27667083333333337 0.02170625v-0.851790625c-0.05963229166666667 -0.010829166666666666 -0.10306875000000001 -0.010829166666666666 -0.17899270833333333 -0.010829166666666666 -0.5371458333333333 0 -0.9006177083333334 0.3092302083333333 -1.0471229166666667 0.8137927083333334V9.92665625Zm3.08085 2.794044791666667c0.9929052083333334 0 1.6927760416666668 -0.5262447916666667 1.6927760416666668 -1.4431302083333335 0 -0.911446875 -0.6998708333333333 -1.4322770833333334 -1.6927760416666668 -1.4322770833333334 -0.9982000000000001 0 -1.6980708333333334 0.5208302083333334 -1.6980708333333334 1.4322770833333334 0 0.9168854166666667 0.6998708333333333 1.4431302083333335 1.6980708333333334 1.4431302083333335Zm0 -0.6238989583333333c-0.45566354166666667 0 -0.7432114583333334 -0.2929625 -0.7432114583333334 -0.8192312500000001s0.2875479166666667 -0.808378125 0.7432114583333334 -0.808378125c0.45036875 0 0.7379166666666667 0.282109375 0.7379166666666667 0.808378125s-0.2875479166666667 0.8192312500000001 -0.7379166666666667 0.8192312500000001Z"
          stroke-width="1"></path></svg
      >
    </a>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    background-color: #f0f0f0;
  }

  h3 {
    color: #333;
  }

  p {
    color: #666;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  svg {
    transition: transform 0.3s;
  }

  .social a {
    display: inline-block;
  }

  svg:hover {
    transform: scale(1.2);
  }

  .astro,
  .social {
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    footer {
    display: block;
    text-align: center
  }
</style>